# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
*.log

# Distribution / packaging
*.egg-info/
dist/
build/

# Environment files
.env

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Backup files
*.bak
*.swp
